{% extends 'layout.html' %}
{% block content %}
<h1>Profile</h1>
<form method=POST>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<p class="{{ category }}">{{message}}</p>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<p class="form-control-static">Real name: </p><input class="form-control" id="name" name="name" type="text" value={{name}} >  <br>
	<p class="form-control-static">E-mail   : </p><input name=email class="form-control" id="email" type="text" value={{email}} ><br>
	<p class="form-control-static">Username : </p><input name=username class="form-control" id="username" type="text" value={{username}} disabled><br>
	<p class="form-control-static">Password : </p><input name=password class="form-control" id="password" type="password" placeholder="Re-enter password to verify" >
	<br>
<button type="submit" class="btn btn-default"> Submit </button>
</form>



{% endblock %}
